---
import Dashboard from "@/layouts/Dashboard.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button"
---

<Dashboard title="Dashboard">
  <Card>
    <CardHeader>
      <CardTitle>Card Title</CardTitle>
    </CardHeader>
    <CardContent>
      <CardDescription>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat
        arcu ut nibh aliquet, vel ultricies nunc tincidunt.
      </CardDescription>
    </CardContent>
    <CardFooter>
      <Button className="btn btn-primary">Click me</Button>
    </CardFooter>
  </Card>
</Dashboard>