---
import Layout from "@/layouts/Layout.astro";
import ValidateEmail from "@/components/auth/ValidateEmail";
import Logo from "@/components/logo.astro";
---

<Layout title="Email Verification">
  <div class="flex min-h-svh flex-col items-center justify-center gap-6 bg-muted p-6 md:p-10">
    <div class="flex w-full max-w-sm flex-col gap-6">
      <div class="flex items-center gap-2 self-center font-medium">
        <Logo />
      </div>
      <ValidateEmail client:load />
    </div>
  </div>
</Layout>