---
import Layout from "@/layouts/Layout.astro";
import ResendEmailValidation from "@/components/auth/ResendEmailValidation";
import Logo from "@/components/logo.astro";
---

<Layout title="Email Not Verified">
  <div class="flex min-h-svh flex-col items-center justify-center gap-6 bg-muted p-6 md:p-10">
    <div class="flex w-full max-w-sm flex-col gap-6">
      <Logo />
      <ResendEmailValidation client:load />
    </div>
  </div>
</Layout>
