---
import Layout from "@/layouts/Layout.astro";
import { AlertCircle } from "lucide-react";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import Logo from "@/components/logo.astro";
---

<Layout title="Account Not Verified">
  <div class="flex min-h-svh flex-col items-center justify-center gap-6 bg-muted p-6 md:p-10">
    <div class="flex w-full max-w-sm flex-col gap-6">
      <Logo />
      <div class="flex flex-col gap-6">
        <Card>
          <CardHeader className="text-center">
            <CardTitle className="text-xl flex items-center justify-center font-bold gap-2"><AlertCircle size={24} className="text-yellow-500" />Konto nicht verifiziert</CardTitle>
            <CardDescription>
              Dein Konto wurde erfolgreich erstellt, muss aber noch von einem Administrator genehmigt werden. Nach der Genehmigung erhältst du eine E-Mail und kannst dich einloggen und auf die Plattform zugreifen.
            </CardDescription>
          </CardHeader>
          <CardContent className="p-6 pt-0">
            <form action="/api/auth/signout">
              <Button type="submit" className="w-full cursor-pointer">Zurück zum Login</Button>
            </form>
          </CardContent>
        </Card>
      </div>
      <div class="text-balance text-center text-xs text-muted-foreground [&_a]:underline [&_a]:underline-offset-4 [&_a]:hover:text-primary">
        Brauchst du Hilfe? <a href="mailto:Marc.Feigl@erlenhof-bl.ch">Support kontaktieren</a>
      </div>
    </div>
  </div>
</Layout>