---
import Layout from "@/layouts/Layout.astro";
import RegisterForm from "@/components/auth/RegisterForm";
import Logo from "@/components/logo.astro";
---


<Layout title="Sign up">
  <div class="flex min-h-svh flex-col items-center justify-center gap-6 bg-muted p-6 md:p-10">
    <div class="flex w-full max-w-sm flex-col gap-6">
      <Logo />
      <RegisterForm client:load />
    </div>
  </div>
</Layout>

