---
import Layout from "@/layouts/Layout.astro";
import ResetPasswordForm from "@/components/auth/ResetPasswordForm";
import Logo from "@/components/logo.astro";
---

<Layout title="Reset Password">
  <div class="flex min-h-svh flex-col items-center justify-center gap-6 bg-muted p-6 md:p-10">
    <div class="flex w-full max-w-sm flex-col gap-6">
      <Logo />
      <ResetPasswordForm client:load />
    </div>
  </div>
</Layout>