<div class="flex flex-col justify-center items-center gap-1">
  <img src="/erlenhof-zentrum-logo.svg" alt="Erlenhof Zentrum Logo" width="180" height="60" />
  <span class="truncate text-xs">Ressourcenpool</span>
</div>