---
const url = Astro.props;
---

{url ? (
  <a href={url} class="flex flex-col items-center gap-2 self-center font-medium">
    <img src="/erlenhof-logo.svg"  alt="erlenhof logo" />
    <p class="uppercase text-sm tracking-widest">Resource Pool</p>
  </a>
) : (
  <div class="flex items-center gap-2">
    <img src="/erlenhof-logo.svg" alt="erlenhof logo" />
    <span class="text-lg font-bold">Resource Pool</span>
  </div>
)}