---
import { getAuth, onAuthStateChanged } from "firebase/auth";
import { app } from "@/firebase/client";


import { getFirestore, collection, query, where, getDocs } from "firebase-admin/firestore";
import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from "@/components/ui/card";
import { Button } from "@/components/ui/button"




const auth = getAuth(app);

onAuthStateChanged(auth, (user) => {
  if (user) {
    console.log("Usuário autenticado:", user.uid);
  } else {
    console.log("Nenhum usuário autenticado");
  }
});
---

<Card>
  <CardHeader>
    <CardTitle>Current Active Jobs</CardTitle>
  </CardHeader>
  <CardContent>
    <CardDescription>
      Total de Jobs Ativos: {jobsCountByRole.level_1 + jobsCountByRole.level_2}
    </CardDescription>
  </CardContent>
  <CardFooter>
    <Button className="btn btn-primary">Click me</Button>
  </CardFooter>
</Card>

<Card>
  <CardHeader>
    <CardTitle>Current Active Jobs On Pool - Level 1</CardTitle>
  </CardHeader>
  <CardContent>
    <CardDescription>
      Jobs Ativos: {jobsCountByRole.level_1}
    </CardDescription>
  </CardContent>
</Card>

<Card>
  <CardHeader>
    <CardTitle>Current Active Jobs On Pool - Level 2</CardTitle>
  </CardHeader>
  <CardContent>
    <CardDescription>
      Jobs Ativos: {jobsCountByRole.level_2}
    </CardDescription>
  </CardContent>
</Card>

