---
const { title } = Astro.props;
import '@fontsource-variable/roboto';
import '@fontsource-variable/roboto-mono';
import "../styles/global.css";
import { ToasterProvider } from "@/components/toaster";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title} - Resource Pool</title>
  </head>
  <body class="font-sans bg-slate-50 text-slate-900">
    <p class="text-debugPink font-sans">
      Se vires este texto a rosa, o config está a ser lido!
    </p>
    <slot />
    <ToasterProvider client:load />
  </body>
</html>
