---

import { firestore } from "@/firebase/server";
import type { UserData } from "@/lib/types";
import Layout from "@/layouts/Layout.astro"
import Dashboard from "@/components/Dashboard.astro";

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const usersRef = firestore.collection("users");
const userSnapshot = await usersRef.doc(id).get();

if (!userSnapshot.exists) {
  return Astro.redirect("/404");
}

const user = userSnapshot.data() as UserData;

---


<Layout title="Add a new User">
  <Dashboard>
    <h1>{user.name}</h1>
    <p>Age: {user.age}</p>
    <p>Is best friend: {user.isBestFriend ? "Yes" : "No"}</p>
  </Dashboard>
</Layout>



