---

import { getEducationData } from "@/hooks/get-data";
import type { Education } from "@/lib/types";
import Layout from "@/layouts/Layout.astro"
import DashboardWrapper from "@/components/DashboardWrapper.astro";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { ComponentWrapper } from "@/components/ui/component-wrapper";
import { AlertDialogDelete } from "@/components/alert-dialog-delete";
import { Button } from "@/components/ui/button";
import { Pencil, Plus } from "lucide-react";

const education = await getEducationData();

---

<Layout title="Bereich">
  <DashboardWrapper>
    <ComponentWrapper name="Bereich">
      <Table>
        <TableHeader>
          <TableRow>
            <TableHead>Bezeichnung</TableHead>
            <TableHead className="text-right"></TableHead>
          </TableRow>
        </TableHeader>
        <TableBody>
          {Array.isArray(education) && education.length > 0 ? (
            education.map((edu) => (
              <TableRow key={edu.id}>
                <TableCell>{edu.name}</TableCell>
                <TableCell className="text-right">
                  <Button><a href={`/education/edit/${edu.id}`}><Pencil /></a></Button>
                  <AlertDialogDelete
                    id={edu.id}
                    resourceType="education"
                    client:load
                    triggerText=""
                    title="Bist du sicher, dass du diese Bereich löschen möchtest?"
                    description="Dies wird die Bereich dauerhaft aus der Datenbank löschen."
                    cancelText="Nein, abbrechen"
                    actionText="Ja, löschen"
                  />
                </TableCell>
              </TableRow>
            ))
          ) : (
            <TableRow>
              <TableCell colSpan={3} className="text-center text-gray-500">
                Keine Einträge in der Bereichsliste. Bitte füge einen hinzu.
              </TableCell>
            </TableRow>
          )}
        </TableBody>
        
        
      </Table>
    </ComponentWrapper>
    <Button className="self-end"><Plus /><a href={`/education/add`}>Neuen Eintrag hinzufügen</a></Button>
  </DashboardWrapper>
</Layout>